*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Trebuchet Ms", Helvetica, sans-serif;	
	font-size: 1em;	
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.fotos #navegacao a#fotos{
	color: #fff;
	background:#de003e;
	cursor: text;

}
/*-----------------------------------------------*/

#conteiner{
	width: 100%;
	background: #fff url(../img/fundo.png)  top repeat-x ;
}
#estrutura{
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;

}
#topo{

	width: 100%;
	height: 225px;
	background: url(../img/detalhe-topo.png) no-repeat top right;

}
.logo{
	text-indent: -3000px;
	background:url(../img/logo.png) no-repeat top left;
	margin:2px 0;
	height: 80px;
	
}

#topo ul{

	background: #b10333;
	float: left;
}

#topo ul li{
	float:left;
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background:url(../img/divisor.png) no-repeat left;
}

#topo ul .primeiro a{
	background:none;
}

#topo ul a:hover{
	color: #69001d;
}

#corpo{
	float: right;
}

#tres_colunas #direita,
#duas_colunas #direita{

	float: right;
	width: 80%;
}

#uma_colunas #direita{
	width: 100%;
}
 
 #esquerda{
	float: right;
	width: 20%;
}

#lateral, #news{
	width: 95%;
	float: left;
}
#tres_colunas #primario{
	width: 45%;
	float: left;	
}

#duas_colunas #primario,
#uma_colunas  #primario{
	width: 100%;
	float: left;	
}

 #secundario{
	width: 45%;
	float: left;	
}
#rodape{
	clear: both;
	background: #294c71;
	padding: 20px 0;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

.caixa{
	margin: 10px 0;
	font-size: 0.8em;
	padding:3px ; 
}

.caixa h2{
	background:#294c71;
	color: #fff;
	padding: 5px;

}

#news input{
	cursor: pointer;
	font-size: 0.9em;
}
#news input[type="text"]{
	
	display: block;
	padding-bottom: 2px;
	background-color: #fff;
	width: 98%;
	margin: 0 0 2px 0;
	
}

#news input[type="submit"]{
	border-radius: 3px;
	padding: 3px ;
	background-color: #b10333;
	border:1px solid #b10333;
	color: #fff;
}

#news input[type="submit"]:hover{
	background-color: #ccc;
	border:1px solid #ccc;
	color: black;
}

#lateral ul a{
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 20px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
	color: #a1a1a1;
	background:#f9f9f9 url(../img/marcador.png) no-repeat left center;
	padding-left: 20px;
}