*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Trebuchet Ms", Helvetica, sans-serif;	
		
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.fotos #navegacao a#fotos{
	color: #fff;
	background:#de003e;
	cursor: text;

}
/*-----------------------------------------------*/

#conteiner{
	width: 100%;
	background: #fff url(../img/fundo.png)  top repeat-x ;
}
#estrutura{
	width: 60%;
	margin: 0 auto;
	padding-top: 10px;

}
#topo{

	width: 100%;
	height: 225px;
	background: url(../img/detalhe-topo.png) no-repeat top right;

}
.logo{
	text-indent: -3000px;
	background:url(../img/logo.png) no-repeat top left;
	margin:2px 0;
	height: 80px;
	
}

#topo ul{

	background: #b10333;
	float: left;
	

}

#topo ul li{
	float:left;
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background:url(../img/divisor.png) no-repeat left;
}

#topo ul .primeiro a{
	background:none;
}

#topo ul a:hover{
	color: #69001d;
}

#corpo{
	background:#ccc;
	border:1px solid blue;
	float: right;
}

#direita{
	background: yellow;
	float: right;
	width: 80%;
}

#esquerda{
	background: red;

	float: right;
	width: 20%;
}
#lateral{
	width: 100%;
	background-color: orange;
	float: left;

}
#primario{
	width: 50%;
	background-color: blue;
	float: left;
	
}
 #secundario{
	width: 50%;
	background-color: red;
	float: left;
	
}
#rodape{
	clear: both;
	background: #294c71;
	padding: 20px 0;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}